# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django, Flask logs and instance files
*.log
instance/
.webassets-cache

# Type checkers
.pyre/
.mypy_cache/
.dmypy.json

# IDE and editor folders
.vscode/
.idea/

# Virtual environments
.env
.venv
env/
venv/

# Baza danych (SQLite)
data/adhd_app.db

# Eksportowane dane
exports/

# Kompilowane rozszerzenia
*.pyd

# Systemowe pliki
.DS_Store
